@import "./scss/fonts/fonts";
@import "./scss/colors/colors";
@import "./scss/assets/home";
@import "./scss/assets/services";
@import "./scss/assets/contact";
@import "./scss/assets/about";
@import "./scss/assets/gallery";
@import "./scss/assets/footer";
@import "./scss/assets/burger";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

#spin-loader {
  background-color: $fantaOrange;
  height: 100%;
  width: 100%;
  position: fixed;
  margin-top: 0;
  top: 0;
  z-index: 999999;

  .spinner {
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 100%;
    animation: sk-scaleout 1s infinite ease-in-out;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -25px;
    margin-left: -25px;
  }
}

.fadeinanimation {
  animation: fadeout 2s ease-in;
}

@keyframes sk-scaleout {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.rightsreserved {
  background-color: #ff8c57;
  padding: 20px 0;
  a {
    text-decoration: none;
    h5 {
      text-align: center;
      font-weight: 400;
      color: white;
    }
  }
}

.t-top {
  z-index: 999;
  position: fixed;
  border-radius: 50%;
  bottom: 40px;
  right: 40px;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $fantaOrange;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
  cursor: pointer;

  i {
    color: white;
    font-size: 20px;
  }
}
